body {
  margin: 0;
  font-family: "Open Sans";
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
  min-height: 100vh;
}
.page {
  width: 1000px;
  margin: 0 auto;
  padding: 65px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: "Mulish";
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}
ul li a {
  text-decoration: none;
  color: #1f1534;
  opacity: 0.5;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: "Mulish";
  font-family: Mulish;
  font-size: 49px;
  font-weight: normal;
  line-height: 56px;
  color: #000000;
}
h1 span {
  color: #89c5cc;
  font-weight: bold;
}
section p {
  font-family: "Open Sans";
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
  margin: 40px 0;
}
button:hover {
  background: #62b7c0;
}

button {
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #f9f9f9;
  font-size: 16px;
  line-height: 21px;
  gap: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #89c5cc;
  border: 0px;
  padding: 14px 32px 15px 32px;
  border-radius: 4px;

  cursor: pointer;
}
footer {
  font-size: 14px;
  line-height: 28px;
  color: #000000;
  margin-top: 80px;
  text-align: center;
}

footer a {
  font-family: "Open Sans";
  text-decoration: none;
}
footer a:hover {
  font-weight: bold;
}
#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
